@tailwind base;
@tailwind components;
@tailwind utilities;    

.custom-prev-button {
    background-color: blue;
    width: 40px;
    height: 40px;
  }
  
  .custom-next-button {
    background-color: red;
    width: 40px;
    height: 40px;
  }

  .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: white;
    
  }
.swiper-pagination .swiper-pagination-bullet-active {
    opacity: .4;
    background-color:rgb(33, 205, 156);
  }

   
    ol
    {
      @apply list-decimal
    } 

 
